<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>Label</key>
    <string>com.rockwell.LAB.rotate</string>

    <key>ProgramArguments</key>
    <array>
        <string>/LOCATION/OF/rotate</string>
        <string>com.COMPANY.APP</string>
        <string>/LOCATION/OF/syslog.conf</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    
</dict>
</plist>
